body {
    font-family: 'Roboto';
    font-style: normal;
}

body.modal-open {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
}

p {
    color: var(--gray);
}

span {
    color: var(--gray);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}